SUPABASE_CONNECTION_STRING=Host=aws-1-sa-east-1.pooler.supabase.com;Database=postgres;Username=seu_usuario;Password=sua_senha;SSL Mode=Require;Trust Server Certificate=true
SUPABASE_STORAGE_SECRET_KEY=coloque_aqui_sua_sb_secret
WHISPER_API_KEY=
